@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgba(13 110 253 / 9%);
}

#app {
  min-height: 100%;
  display: flex;
  justify-content: center;
}